{% load static %}
<div class="pagina-inicial">
    <header class="cabecalho">
        <img src="{% static '/assets/logo/Logo(2).png' %}" alt="Logo da Alura Space" />
        <div class="cabecalho__busca">
            <div class="busca__fundo">
                <form action="{% url 'search' %}">
                    <input class="busca__input" type="text" name="search" placeholder="O que você procura?" style="color:#D9D9D9; margin-bottom: 5px;">
                    <button class="busca__icone" type="submit">
                        <img src="{% static '/assets/ícones/1x/search.png' %}" alt="ícone de search">
                    </button>
                </form>
            </div>
        </div>
    </header>
    <main class="principal">
        <section class="menu-lateral">
            <nav class="menu-lateral__navegacao">
                <a href="{% url 'index' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
                <a href="{% url 'log in' %}"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"> Entrar</a>
                <a href="{% url 'sign up' %}"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Criar conta</a>
                <a href="{% url 'log out' %}"><img src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"> Sair</a>
            </nav>
        </section>