{% extends 'shared/base.html' %}
{% load static %}
{% block content %}
        <section class="conteudo">
            <section class="imagem">
                <div class="imagem__conteudo">
                    <img class="imagem__imagem" src="{{ photo.photo.url }}" alt="Imagem a ser excluída">
                    <form action="{% url 'delete' photo.id %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="imagem__info" style="margin-bottom: 10px;">
                                <label style="color:#D9D9D9; margin-bottom: 10px;">Tem certeza de que deseja excluir esta foto?</label>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-success" type="submit">Sim, excluir</button>
                            <a class="btn btn-danger" href="{% url 'index' %}">Cancelar</a>
                        </div>
                    </form>
                </div>
            </section>
        </section>
    </main>
</div>
{% endblock %}
