{% load static %}
<div class="pagina-inicial">
    <header class="cabecalho">
        <img src="{% static '/assets/logo/Logo(2).png' %}" alt="Logo da Space Guide" />
        <div class="cabecalho__busca">
            <div class="busca__fundo">
                <form action="{% url 'search' %}">
                    <input class="busca__input" type="text" name="search" placeholder="O que você procura?">
                    <button class="busca__icone" type="submit">
                        <img class="busca__icone"src="{% static '/assets/ícones/1x/search.png' %}" alt="ícone de search">
                    </button>
                </form>
            </div>
        </div>
    </header>
    <main class="principal">
        <section class="menu-lateral">
            <nav class="menu-lateral__navegacao">
                <a href="{% url 'index' %}"><img src="{% static '/assets/ícones/1x/home.png' %}"> Home</a>
                <a href="{% url 'log in' %}"><img src="{% static '/assets/ícones/1x/log-in.png' %}"> Entrar</a>
                <a href="{% url 'sign up' %}"><img src="{% static '/assets/ícones/1x/signup.png' %}"> Criar conta</a>
                <a href="{% url 'post' %}"><img src="{% static '/assets/ícones/1x/post.png' %}"> Publicar</a>
                <a href="{% url 'log out' %}"><img src="{% static '/assets/ícones/1x/log-out.png' %}"> Sair</a>
            </nav>
        </section>